<section class="top-area">
  <div class="header-area">
      <!-- Start Navigation -->
    <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          {% include "bases/rechercher_absence.html" %}
        </div>
      </div>
    </nav><!--/nav-->
      <!-- End Navigation -->
  </div><!--/.header-area-->
  <div class="clearfix"></div>
</section>
