{% extends "bases/index.html" %}
{% block title %}historique des absences{% endblock title %}
{% block content %}
<div class="container" style="width: 800px; margin-top: 30px;">
    <span>Durée totale des absences: {{ nombre_heure }} Heures </span><br>
    <table class="table table-dark table-hover " width='800px' border="1">
        <thead>
            <tr>
                <th scope="col"><h1>Toutes les absences de : </h1>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if absences %}
                {% for absence in absences %}
                <tr>
                    <td>
                        <span style="color: black;">{{ absence.personnel.nom }} {{ absence.personnel.prenom }}</span><br> 
                        <p style="color: black;">Absent du: {{ absence.date_depart}} à {{ absence.heure_depart }} Au {{ absence.date_arrivee }} à {{ absence.heure_arrivee }}<br> Motif: {{ absence.motif }} <br> Durée d'absence: {{absence.duree_absence}} Heures </p>
                        <button type="button" class="btn btn-primary"><a href="{% url 'interfaces:edit_absence' absence.id %}" style="color: black;">Modifier</a></button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'interfaces:delete_absence' absence.id  %}">Supprimer</a>
                        </button>    
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td style="color: black;">
                        {{ message }}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}
