{% extends "bases/index.html" %}
{% block title %}Confirmation de suppression d'un personnel{% endblock title %}
{% block content %}
    <h1>Confirmation de suppression</h1>
    <div class="container" style="text-align:center">
        <p style="font-size:20px">Êtes-vous sûr de vouloir supprimer :
        {{ personnel.nom }}  {{ personnel.prenom}} ?</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Confirmer</button>
            <button class="btn btn-primary"><a href="{% url 'interfaces:list_personnel' %}">Annuler</a></button>
        </form>
    </div>
{% endblock content %}